name: Go
on: 
  push:
  schedule:
    - cron: '0 20 * * 1'
jobs:
  test:
    strategy:
      matrix:
        go:
          - 1.15
          - 1.16
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Build & Test
      run: |
        make run
