name: Go
on: 
  push:
  schedule:
    - cron: '0 20 * * 1'
jobs:
  test:
    strategy:
      matrix:
        go:
          - 1.15
          - 1.16
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Build & Test
      run: |
        make run
